/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  padding-top: 60px; /* Add padding to prevent content from being hidden behind the header line */
  background-color: darkgray;
  /*//url("./media/clouds2.jpg");*/
}
:root {
  /*
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
  */
  --primary-color: #233142; /*This is primary text color*/
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa; /*This is list background color*/
  --accent-color-dark: #171717;
  --shadow-color: #e3e3e3;

  --yellow-background: #fff5bf;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

.material-icons {
  font-size: 12px !important;
}

.hidden{
  display: none !important;
}

.up-right{
  position: relative;
  left: 94%;
  top: 30px;
}
.btn{
  border-radius: 7px;
}
.btn-red{
  background-color: #f95959;
}
.overlay {
  position: fixed;  /* Fix the overlay to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;  /* Ensure overlay is on top of everything */
}

.dialog-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.custom-card-dialog-container {
  width: 80vw; /* 80% of viewport width */
  height: 60vh; /* 60% of viewport height */
  max-width: 900px; /* Optional max width */
  max-height: 600px; /* Optional max height */
}

.bb-list{
  padding: 50px;
}

.listing:hover .card-title, 
.listing:hover .card-footer-container, 
.listing:hover .card, 
.listing:hover .card-text {
  /*Apply css on all cards when list is hovered. but not now*/
  /* color: #74b1fb;
  background: #20203e; */
/*   transition: color 0.3s ease, background 0.3s ease;
 */
/*  transform: scale(1.1);  /* Slightly enlarge the element on hover. Mozda kasnije :) */
 }